:root {
    --primary-text-color: #757575;
    --title-tex-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#FFFFFF;
    --primary-background-color:#E5E5E5;
    --secondary-background-color:#2F303A;
}
body {
    
    margin: 0;
    font-family: 'Roboto',
    sans-serif;
    font-size: 14px;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}
html {
    box-sizing: border-box;
}
*,
 ::before,
 ::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

ul,
li { 
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.img {
    display: block;
}
/*heder*/
.container {
   
    width: 1200px;
    padding-right:  15px;
    padding-left:  15px;
    margin-left: auto;
    margin-right: auto;
    
}
.header {
    padding-top: 24px;
    padding-bottom: 25px;
    background: var(--primary-white-color);
    border: 1px solid #ECECEC;
}
.main-nav {
    display: flex;
    align-items: center;
   
}
   
.logo-fist,
.logo-second {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: auto;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    
}

.logo-second {
   
    color: #000000;

}
.logo-fist {

    color: var(--accent-color);
    
}
.list-nav {
    
    display: inline-flex;
    margin-left: 93px;
}
.list-nav .item + .item {
    
    margin-left: 50px;
   
}

.list-nav .link {
    display: block;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-tex-color);
} 
.list-nav .link.current {
    color: var(--accent-color);
}
.list-nav .link:hover,
.list-nav .link:focus {
    color: var(--accent-color);
}
.list-contacts {

    display: inline-flex;
    margin-left: auto;
    
}
.list-contacts .item + .item {
    margin-left: 50px;
}
.list-contacts .link {
    display: block;
   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

}
.list-contacts .link:hover,
.list-contacts .link:focus {
    color: var(--accent-color);
}

/*hero*/
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
    text-align: center;    
    background: var(--secondary-background-color);
}
h1 {
    
    
    margin-top: 0px;
    font-weight: 900;  
    font-size: 44px;
    line-height:1.36;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--primary-white-color);
   
}


.button {
    display: inline-block;  
    padding: 10px 32px;
    min-width: 200px;
   
    
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    letter-spacing: 0.06em;
    
    cursor: pointer;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    
}
.button:hover,
.button:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px solid;
}
.button .primary {
    color: var(--title-tex-color);
    background-color: #F5F4FA;
}
.button .secondary {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
}
/*peculiarities*/
.post {
    
    background: var(--primary-white-color);
    padding-top: 94px;
    padding-bottom: 94px;
   
       }
.post-list {
    
    display: flex;
    flex-wrap: wrap;
    
}
.post-list .item {
    width: 270px;
    
    
}
.post-list .item + .item {
     margin-left: 30px;
    
}
.post-title {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-tex-color);
}
.post-text {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/*we doing */
.we-doing {
    
    padding-bottom: 94px;
    
    background: var(--primary-white-color);
}
.content-list {
    display: flex;
    flex-wrap: wrap;
}
.content-list .item + .item {
    margin-left: 30px; 
}

.section-name 
{
    margin: 0 auto;
    margin-bottom: 50px;
   
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 1.17;
    color: var(--title-tex-color);
} 



/*our team*/
.team {
   
    padding-top:  94px;
    padding-bottom: 94px;
    background: #F5F4FA;
}
.team-list {

    display: flex;
    flex-wrap: wrap;
}
.team-list .item+.item {
    
    margin-left: 30px;
}
    
    




.team-list .item {
    text-align: center;
    align-items:center;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
}         
.team-box {
    
    padding-top: 30px;
    padding-bottom: 30px;
    
}    

       

.box-name {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-tex-color);

}
.box-text {
    margin: 0;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

}

/* basement */ 
.footer {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--secondary-background-color);
}

.logo-third,
.logo-fourth {
    display: inline-block;
    
    
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-third {
    margin-bottom: 20px;
    color: var(--accent-color);

}
.logo-fourth {
   
    color: var(--primary-white-color);
}
.address li {
    display: block;
    margin: 0;
    margin-bottom: 9px; 
   
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    
}
.address .link {
    display: block;
    margin: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    
}
.address .item {
    display: block;
    
}
/* Portfolio Page*/
.btn { 
    display: block;
    font-family: inherit;
    border-radius: 4px solid;
    border: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    cursor: pointer;
    color: var(--title-tex-color);
}
.btn:hover,
.btn:focus {
    color: #FFFFFF;
    background: #2196F3;
}


/*portfolio section*/
.portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
   
    
}

.filters {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
      
}
.filters .item + .item {
    margin-left: 8px;
}


.soft-list {

    display: flex;
    flex-wrap: wrap; 
    margin-right: 0; 
    margin-left: 0;
    
   
}

.soft-list .item{
    width: calc((100% - 60px)/3) ;
    margin-right: 30px;
    margin-bottom: 30px;
} 

.soft-list .item {
    
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;

}
.soft-list .item:nth-child( 3n ) {
    margin-right: 0;
    
}
.soft-list .item:nth-last-child( -n +3 ) {
    margin-bottom: 0;
}

.soft-card {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
}
.card-name {
    margin: 0;
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-tex-color);
}
.card-text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}



